* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
	box-sizing: border-box;
	
}

body {
	max-width: 1200px;
	margin: 0 auto;
	background-image: url(./img/759d85ba2ef14276c41e66162e06a8b4.jpg);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 15px;
	
	color: #dcfeb5;
}

h1 a {
	text-decoration: none;
	color: #dcfeb5;
}

nav,
.user {
	display: flex;
	align-items: center;
	gap: 20px;
}

nav a {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.username {
	color: #e4c5c4;
}

.btn-logout {
	border: 1px solid #fa41b3;
	background: none;
	color: #fef6cd;
	padding: 5px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.btn-logout:hover {
	background: linear-gradient(blue, pink);
	color: #000;
}

/*  */

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	background: linear-gradient(#7052ff,#ff7360);
	-webkit-background-clip: text;
	color: transparent;  
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.input-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px 0;
	text-align: center;
}

.buton{
	
	background: linear-gradient(#7052ff,#ff7360);
	color: rgb(0, 0, 0);
	width: 90px;
	margin: 10px 0;
	height: 25px;	
}

.for{
color:white;
text-align: center;
position: relative;
  top: 100px



}


.parrafo{
	color:white;
	position: relative;
  top: 120px
	
}

.pagina{
	color: #7052ff;
}
